@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.gradient_text {
    --blue: rgba(35, 91, 251, 1);
    --purple: rgba(147, 30, 250, 1);
    color: var(--blue);
    background: linear-gradient(45deg, var(--blue), var(--purple));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Inter;
    text-align: center;
}

p {
    font-family: Inter;
    text-align: center;
}

.btn {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
  border-radius: 20px;
}

.btn:hover {
  background-color: RoyalBlue;
}
